



	<div ng-include="'nav.html'" style="margin-bottom: 50px"></div>

	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4 form-group">
				<div ng-include="'widget4.html'"></div>
			</div>
			
			<div class="col-12 col-md-6 col-lg-4 form-group">
				<div ng-include="'widget1.html'"></div>
			</div>

			<div class="col-12 col-lg-4 form-group">
				<div ng-include="'widget5.html'"></div>
			</div>

		</div>
	</div>

	<div ng-include="'widget2.html'"></div>

	<div ng-include="'footer.html'"></div>

	<div class="container form-group">
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4">
				<!-- <div class="card box-shadow no-padding color-4 no-border">		
					<div class="card-header color-1">Random Jokes</div>
					<div class="card-body color-4 card-modify">
						<button class="btn form-group color-2">Get Joke</button>
					</div>
					<div class="card-footer color-1 text-muted"><small>Source: <a href="https://icndb.com" class="golden-hyperlink">ICNDb.com</a></small></div>
				</div> -->
			</div>
		</div>
	</div>