


<br><br>
<p class="text-center"><small class="title">WIDGET FOR WEBSIT</small><small>E</small></p>
<br>


<!-- Navbar start -->
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="https://behance.net/Abhijeetk829/" target="_blank">
      <img src="https://icons.iconarchive.com/icons/danleech/simple/256/behance-icon.png" style="border-radius: 2px;" width="30" height="30" class="d-inline-block align-top" alt="Behance">
    </a>
  </li>
    <li class="nav-item">
    <a class="nav-link active" href="https://github.com/Abhijeetk829/" target="_blank">
      <img src="https://image.flaticon.com/icons/svg/25/25231.svg" width="30" height="30" class="d-inline-block align-top" alt="Github">
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="https://www.linkedin.com/in/abhijeetk829/" target="_blank">
      <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-512.png" width="30" height="30" class="d-inline-block align-top" alt="linkedin">
    </a>
  </li>
</ul>
<!-- Navbar end -->